h1 {

	font-size: 100px;
}
#choosenOne {
	width:100px;
	height:100px;
}



#button {

	margin-left:20px;
}
#tyson img {
	width:100px;
	height:100px;
}
#ali  img{
	width:100px;
	height:100px;
}
#george  img{
	width:100px;
	height:100px;
}
#frazier img{
	width:100px;
	height:100px;
}
.fighter img {
	width:100px;
	height:100px;
}
#tysonSize {
	
	width:100px;
	height:100px;
}

#aliSize{
	
	width:100px;
	height:100px;

}

#fighter2{

	width:100px;
	height:100px;
}

