@font-face{
	font-family: Troika;
	src: url("../fonts/Troika/troika.otf");

}

body{

	background-image: url("../images/boxingbackground1.jpg");
}


h1 {
	font-family:Troika;
	font-size: 75px;
	color:#990000;
	
}
#choosenOne {
	width:150px;
	height:150px;
}



#button {

	margin-left:20px;
}
#tyson img {
	width:150px;
	height:150px;
}
#ali  img{
	width:150px;
	height:150px;
}
#george  img{
	width:150px;
	height:150px;
}
#frazier img{
	width:150px;
	height:150px;
}
.fighter img {
	width:150px;
	height:150px;
}




#fighter2{

	width:150px;
	height:150px;
}
.panel-body {
	background-color:#990000;
	font-family:Troika;
	color:white;

}
.panel{
	border-color:#003399;
	font-size: 20px;
}
#button {
	font-family:Troika;
	width: 100px;
	font-size:30px;
	margin-top: 10px;
}

#fighterStatus {
	font-family:Troika;
	color:white;
}


